
<div class="container my-3">
  <div class="text-center ">
    <h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My personal info</h2>
          <br>
          <h6>Username: <%= @user.username %></h6>
          <h6>Mail: <%= @user.email %></h6>
          <h6>Phone: <%= @user.phone_number %></h6>
          <h6>Address: <%= @user.address %></h6>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My experiences</h2>
          <br>
           <ul>
            <% if @experiences.any? %>
              <% @experiences.each do |experience| %>
              <li><%= experience.name %> <%= link_to "Edit", edit_experience_path(experience["id"]),  class: "btn btn-outline-success"%> <%= link_to "Delete", experience_path(experience), class: "btn btn-outline-danger m-2", method: :delete, data: { confirm: "Are you sure?"} %></li>
              <% end %>
            <% else %>
              <li>You still have no experiences</li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My bookings</h2>
          <br>
          <ul>
            <% if @bookings.any? %>
              <% @bookings.each do |booking| %>

                <li>Status: <%= booking.status %> | Name: <%= booking.experience.name %> | Date: <%= booking.date %> | Price: <%= booking.experience.price %> <%  if booking.status != "Cancelada"  %>
                 <%= link_to "Editar", edit_experience_booking_path(booking.experience.id, booking.id ), class: "btn btn-outline-warning" %>
                <% end %>
                <%  if booking.status == "Completada"  %>
                <%= link_to "Make a Review",  new_experience_review_path(booking.experience),  class: "btn btn-outline-warning"%>
                <% end %></li>
                <% end %>
            <% else %>
                <li>You still have no bookings yet</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
