

  <div class="container ">
  <div class="text-center ">
    <h3><strong>Welcome</strong> <%= @user.first_name %> <%= @user.last_name %></h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">My personal info</h2>
          <br>
          <h6>Username: <%= @user.username %></h6>
          <h6>Mail: <%= @user.email %></h6>
          <h6>Phone: <%= @user.phone_number %></h6>
          <h6>Address: <%= @user.address %></h6>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My experiences</h2>
          <br>
           <ul lass="list-group">
            <% if @experiences.any? %>
              <% @experiences.each do |experience| %>
              <li class="list-group-item"><%= experience.name %> <%= link_to "Edit", edit_experience_path(experience["id"]),  class: "float-right btn btn-outline-warning btn-sm mx-2"%>
              <% if experience.bookings.empty? %>
              <%= link_to "Delete", experience_path(experience), class: "float-right btn btn-outline-danger btn-sm mx-2", method: :delete, data: { confirm: "Are you sure?"} %></li>
              <% end %>
              <% end %>
            <% else %>
              <li>You still have no experiences</li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 my-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My bookings</h2>
          <br>
          <ul class="list-group">
            <% if @bookings.any? %>
              <% @bookings.each do |booking| %>

                <li class="list-group-item">Status: <%= booking.status %> | Name: <%= booking.experience.name %> | Date: <%= booking.date %> | Price: <%= booking.experience.price %> <%  if booking.status != "Cancelada"  %>
                 <%= link_to "Edit", edit_experience_booking_path(booking.experience.id, booking.id ), class: "float-right btn btn-outline-warning btn-sm mx-2" %>
                <% end %>
                <%  if booking.status == "Completada"  %>
                <%= link_to "Make a Review",  new_experience_review_path(booking.experience),  class: "float-right btn btn-outline-primary btn-sm mx-2"%>
                <% end %>

                </li>
                <% end %>
            <% else %>
                <li class="list-group-item">You still have no bookings yet</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

