<!-- DIV CLASS BANNER  -->

<div class="home-banner">
</div>



<div class="container">
  <h1 class="text-center mt-3 mb-4">Experiencias destacadas</h1>
  <div class="row">
      <% @experiences.each do |experience| %>
        <div class="col-md-4 my-3">
          <div class="card-img-top">
            <% if experience.photo.attached? %>
              <%= cl_image_tag experience.photo.key, height: 300, width: 300, crop: :fill, class: "img-fluid" %>
            <% else %>
              <%= cl_image_tag "no disponible", height: 300, width: 300, crop: :fill, class: "img-fluid" %>
            <% end %>
          </div>
            <h5 class="card-title"><%= experience.name %></h5>
            <p> $ <%= experience.price %></p>
            <div class="">
              <%# Booking %>
              <%= link_to "Book", new_experience_booking_path(experience.id), class: "btn btn-dark"%>
              <%# VER MAS %>

              <%= link_to "Ver Mas", experience_path(experience.id) , class: "btn btn-outline-warning" %>
          </div>
        </div>
      <% end %>
  </div>
</div>






