<!-- DIV CLASS BANNER  -->

<div class= "home-banner">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <%= image_tag "yellow.jpeg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jump.jpeg", class: "d-block w-100"  %>
      </div>
      <div class="carousel-item">
      <%= image_tag "confeti.jpeg", class: "d-block w-100" %>
      </div>
      </div>
    </div>
  </div>
  <%= video_tag "truffle1.mp4", :size => "320x240", :controls => true %>


<div class="container">
  <h1 class="text-center mt-3 mb-4">Experiencias destacadas</h1>
  <div class="row">
      <% @experiences.each do |experience| %>
        <div class="col-md-4 my-3">
          <div class="card-img-top">
            <% if experience.photo.attached? %>
              <%= cl_image_tag experience.photo.key, height: 300, width: 300, crop: :fill, class: "img-fluid" %>
            <% else %>
              <%= cl_image_tag "no disponible", height: 300, width: 300, crop: :fill, class: "img-fluid" %>
            <% end %>
          </div>
            <h5 class="card-title"><%= experience.name %></h5>
            <p> $ <%= experience.price %></p>
            <div class="">
              <%# Booking %>
              <%= link_to "Book", new_experience_booking_path(experience.id), class: "btn btn-dark"%>
              <%# VER MAS %>

              <%= link_to "Ver Mas", experience_path(experience.id) , class: "btn btn-outline-warning" %>
          </div>
        </div>
      <% end %>
  </div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>







