<!DOCTYPE html>
<html>
  <head>
    <title>FeelIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

   <!-- NAV BAR -->
    <div class="navbar bg-white py-3 px-4">

      <%= link_to root_path do %>
      <%= image_tag "feel.png", class: "logoFeel"  %>
    <% end %>


      <div class="nav-bar-right d-flex align-items-center">
        <div class="dropdown  d-none d-sm-block">
          <%= image_tag "vector.jpg", class: "avatar", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Add an experience", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete  %>
          <% else %>
            <%= link_to "Log In", new_user_session_path , class: "dropdown-item" %>
            <%= link_to "Sign Up", new_user_registration_path , class: "dropdown-item" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
   <!-- END OF NAV BAR -->

    <%= yield %>
  </body>
</html>
